h1 {
    font-size: 80px;
}
.win{
    padding-bottom: 20px;
    padding-top: 20px;
    min-width: 75px;
    max-width: 75px;
    height: 20; 
}
.won{
    padding-left: 2em;
    align-self: flex-end;
}